@model Product

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-4 mt-4">
        <div class="row pb-2">
            <h2 class="text—primary">Delete Product</h2>
            <hr />
        </div>
        @* <div asp-validation-summary="ModelOnly"></div> *@
        <div class="mb-3 row">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="ISBN" class="p-0"></label>
            <input asp-for="ISBN" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="Author" class="p-0"></label>
            <input asp-for="Author" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="ListPrice" class="p-0"></label>
            <input asp-for="ListPrice" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="Price50" class="p-0"></label>
            <input asp-for="Price50" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="Price100" class="p-0"></label>
            <input asp-for="Price100" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn—primary bg-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>
