@model ProductVM

<form method="post" class="row" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-4 my-4">
                <div class="row pb-2">
                    <h2 class="text—primary"> @(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
                    <hr />
                </div>
                @* <div asp-validation-summary="ModelOnly"></div> *@

                <div class="mb-3 row">
                    <label asp-for="Product.Title" class="p-0"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Description" class="p-0 text-muted"></label>
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.ISBN" class="p-0"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Author" class="p-0"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.ListPrice" class="p-0"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Price" class="p-0"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Price50" class="p-0"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Price100" class="p-0"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.CategoryId" class="p-0"></label>
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.ImageUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn—primary bg-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn—primary bg-primary form-control">Create</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <img src="@Model.Product.ImageUrl" width="100px" style="border-radius:5px; border:#bbb9b9;" />
        </div>
    </div>
   
</form>     

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'mentions anchor autolink charmap codesample emoticons lists media table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight |  numlist bullist indent outdent | emoticons charmap',
            });
    </script>
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}